
@{
    ViewBag.Title = "Site_Documentation";
}

<div class="container">
    <div class="jumbotron" id="Admin_SD_jumbo">
    <h1>Site Documentation</h1>
    </div>
</div>

<div class="row container-fluid" id="borders">

    <div class="col-md-12">

        <h1>Edit Site Documentation</h1>
        <a class='btn btn-lg btn-primary' style="margin-bottom:2%;">
            Add Documentation
        </a>
        <table class="table" id="Admin_SD_table">
            <thead>
                <tr>
                    <th>Documentation</th>
                    <th>Last Edited</th>
                    <th>Editor</th>
                    <th>Reason</th>
                </tr>
               
            </thead>
            <tbody>
                <tr>
                    <td>Emergency Exit Button</td>
                    <td>10/12/2017</td>
                    <td>Caleb Samborski</td>
                    <td>Edited function</td>
                    <td><a class="btn btn-sm btn-success" style="margin-right:5%;"><span class="glyphicon glyphicon-pencil"></span></a><a class='btn btn-sm btn-danger'><span class="glyphicon glyphicon-trash"></a></td>
                </tr>
                <tr>
                    <td>Home</td>
                    <td>10/12/2017</td>
                    <td>Abigail Hererra</td>
                    <td>Added Content</td>
                    <td><a class="btn btn-sm btn-success" style="margin-right:5%;"><span class="glyphicon glyphicon-pencil"></span></a><a class='btn btn-sm btn-danger'><span class="glyphicon glyphicon-trash"></a></td>
                </tr>
                <tr>
                    <td>Human Trafficking</td>
                    <td>10/12/2017</td>
                    <td>Blake Budreau</td>
                    <td>Omitted Content</td>
                    <td><a class="btn btn-sm btn-success" style="margin-right:5%;"><span class="glyphicon glyphicon-pencil"></span></a><a class='btn btn-sm btn-danger'><span class="glyphicon glyphicon-trash"></a></td>
                </tr>
                <tr>
                    <td>Cyber Security</td>
                    <td>10/12/2017</td>
                    <td>Tyler VerMerris</td>
                    <td>Did Nothing</td>
                    <td><a class="btn btn-sm btn-success" style="margin-right:5%;"><span class="glyphicon glyphicon-pencil"></span></a><a class='btn btn-sm btn-danger'><span class="glyphicon glyphicon-trash"></a></td>
                </tr>
                <tr>
                    <td>About</td>
                    <td>10/12/2017</td>
                    <td>Caleb Samborski</td>
                    <td>Added a sentence</td>
                    <td><a class="btn btn-sm btn-success" style="margin-right:5%;"><span class="glyphicon glyphicon-pencil"></span></a><a class='btn btn-sm btn-danger'><span class="glyphicon glyphicon-trash"></a></td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td>10/12/2017</td>
                    <td>Caleb Samborski</td>
                    <td>Changed the Name</td>
                    <td><a class="btn btn-sm btn-success" style="margin-right:5%;"><span class="glyphicon glyphicon-pencil"></span></a><a class='btn btn-sm btn-danger'><span class="glyphicon glyphicon-trash"></a></td>
                </tr>
            </tbody>
     
        </table>

    </div>
</div>

    <div class="row container-fluid" >

    <div class="well col-md-12" id="borders">

        <p class="h2" style="text-align:center;"><strong>Emergency Exit Button</strong></p><br />
        <p>
            The button that is located on the lower right of the web page is called an emergency exit button.
            It is a safety button for users. This button was created for anyone who is visiting our page who
            feels that they are in danger. They are able to press the button and then the browser will route
            to the weather page. We would like the browser to navigate to multiple sites, as to ensure that
            when the history is checked our site’s url is not near the top of the list, but that is currently
            still under development.
        </p>
    </div>
    </div>
    <div class="row container-fluid">

    <div class="well col-md-12" id="borders">

        <p class="h2" style="text-align:center;"><strong>Home</strong></p><br />
        <p>
            This is the Home page. This page is going to display the top resources
            and key points to Human Trafficking and Cyber Security. As well it will show
            the latest news on human trafficking and cyber security. Lastly, it is also going to show the users what information has been recently added to the page. It will be displayed in the order and time it was uploaded.
        </p>
    </div>
</div>
<div class="row container-fluid">

    <div class="well col-md-12" id="borders">

        <p class="h2" style="text-align:center;"><strong>Human Trafficking</strong></p><br />
        <p>
            This initial page gives a brief description on what exactly human trafficking is, and how we as a community can help others who may be victims. It is also a useful resource for families of victims, or anyone else that may be searching for information on the topic.<br />

            <strong>Adults:</strong> In the adults page, there will be different types of resources, such as articles, powerpoints, and personal stories. Users can learn how to spot human trafficking, help those that may be victims, and hopefully help prevent it where possible. It is our belief, that providing information on our site will contribute to a better understanding of resources available to victims, their family, and any other concerned individuals associated with this issue.<br />

            <strong>Teens:</strong> This page displays information, such as articles, powerpoints, personal stores, for teens, ideally in middle and high school. They will be a obtain age appropriate resources associated with human trafficking. These resources will help them become more informed on issues associated with human trafficking and show them how to spot potential warning signs of it taking place in the places they live.<br />

            <strong>Youth:</strong> This page displays information for youth, such as informative powerpoints, ideally for students in elementary schools. The main goal here is to provide some basic examples of effective measures to ensure that these children avoid situations where they may be at risk. We want to present this information in a manner that will not be overwhelming or graphic, but also convey that this is a serious issue. The page will also provide additional resources for children that age, and information on who to reach out to if necessary.<br />

            <strong>Teachers:</strong> This page displays information for teacher/instructors. They will be able to retrieve new information from Ferris instructors. Ferris instructors will also be able to upload new information for teachers to keep them updated on any new information regarding Human Trafficking and how prevent it.<br />

            <strong>Statistics:</strong> This statistics page displays quick facts on Human Trafficking. Show us statistics where Human Trafficking is most common. Also, it shows who is most affected by gender and age. There are also various types of Trafficking reported and it shows a percentage of where Human Trafficking is most common.  This information can be retrieved and updated from  _______.<br />

            <strong>Resources:</strong> This page displays additional resources where anyone will be able to retrieve general information on Human Trafficking. Again, ensuring that we are providing as many applicable and useful resources as possible so that people looking for information can find it easily, and quickly.<br />

        </p>
    </div>
</div>
<div class="row container-fluid">

    <div class="well col-md-12" id="borders">

        <p class="h2" style="text-align:center;"><strong>Cyber Security</strong></p><br />

        <p>
            The Cyber Security pages are meant to educate the users
            on topics relating to cyber security. Our aim to provide as many resources as possible to help all users stay safe while using the internet.<br />

            <strong>Adults:</strong>In the adults page, there will be different types resources, such as articles, powerpoints, personal stories, where parents or any adult can look into how to make sure they are able to mitigate online risks associated with Human Trafficking. This page will also provide information that adults will also be able to use to help those they care about, and make sure they are taking the proper precautions online.<br />

            <strong>Teens:</strong> This page displays information for teens, in middle and high school, where there will be a different types of resources where teens can become aware of Cyber Security techniques and methods. Some teens do not know how important Cyber Security is, so the resources displayed will help them become more informed and show them what they can do ensure their safe online. If they are already taking precautions online, it will provide them a resource to show their friends and peers what they can do to practice online safety measures.<br />

            <strong>Youth:</strong> This page displays information ideally for students in elementary school, as to help them be better informed about cyber security and its importance. It will teach them techniques on how to avoid cyber security threats. Especially given the rate that children are accessing the internet and taking part in online communities, we wish to ensure that children are able to have something to refer to so they can hopefully avoid falling victim to online threats.<br />

            <strong>Teachers:</strong> This page displays information for teachers and instructors that wish to become more involved in actively fighting Human Trafficking. They will be able to retrieve new information regarding topics of Human Trafficking, and stay up to date with current warning signs and threats. Also the professors and students controlling the content will be able to upload information for teachers, to make it easier for teachers that wish to present this information to their students and their families.<br />

            <strong>Law Enforcement:</strong> This page will provide resources for people wishing to learn more about law enforcement’s role in protecting people from Human Trafficking. It will have information on the current efforts being made to crack down on the occurrence of Human Trafficking, and how to potentially contribute to theses efforts. There will also be numbers and contact information for both the law enforcement agencies currently involved in these efforts, and the local law enforcement entities.<br />

            <strong>Resources:</strong> This page displays additional resources where anyone will able to retrieve general information on Cyber Security. Basically, to ensure that anyone in search of pertinent information on topics of Human Trafficking is able to find this information quickly, and easily.<br />
        </p>
    </div>
</div>
<div class="row container-fluid">

    <div class="well col-md-12" id="borders">

        <p class="h2" style="text-align:center;"><strong>About</strong></p><br />
        <p>
            This page gives an overview and purpose of what this web site entails. It shows the programs who were involved in creating the website and providing the information displayed on the pages. It’s just a quick reference for people interested in how the site came into existence and what our main goal/purpose is.
        </p>
    </div>
</div>
<div class="row container-fluid" >

    <div class="well col-md-12" id="borders">

        <p class="h2" style="text-align:center;"><strong>Contact</strong></p><br />
        <p>
            This page lets the user contact local Authorities if they are in danger of Human Trafficking and Cyber Security. It also displays additional resources in case of an emergency. It is yet another resource for people who are wishing to reach out to local authorities, as we wish to make sure that in the event that someone in danger accesses our site, they will inevitably find a quick way to reach out for help.
        </p>
    </div>
</div>