
@{
    ViewBag.Title = "CISTeam";
}
<h1>CIS Team Members</h1>
<div class="panel">

    <!--First Row-->
    <div class="row" style="margin-bottom:100px">
        <!-- First Member's Profile -->
        <div class="col-md-4" style="margin-left:150px">
            <div class="thumbnail">
                <img src="~/Content/Images/Ryan.jpg" alt="Thumbnail_img">
                <div class="caption text-center">
                    <h4>Ryan McCarty</h4>
                    <h4>Role: Scrum Master</h4>
                    <div class="btn btn-danger" data-toggle="collapse" data-target="#Ryan">Learn More</div>
                    <div id="Ryan" class="collapse">Ryan is a northern michigan resident who is currently working towards his Bachelor’s degree in Information System at Ferris State University. He currently works for a software development company where he spends his time working on a large scale ASP.NET MVC application. He is very passionate about learning new technologies and is always working to improve his development skills.</div>
                </div>
            </div>
        </div>

        <!-- Second Member's Profile -->
        <div class="col-md-4" style="margin-left:100px">
            <div class="thumbnail">
                <img src="~/Content/Images/Alyssa.jpg">
                <div class="caption text-center">
                    <h4>Alyssa Kozlowski</h4>
                    <h4>Role: Product Owner</h4>
                    <div class="btn btn-danger" data-toggle="collapse" data-target="#Alyssa">Learn More</div>
                    <div id="Alyssa" class="collapse">Alyssa is 21 years old and started early college when she was 15 years old. She started undergrad as Premed but switched her major to Computer Information Systems.  She will be graduating with a Bachelor’s degree in CIS this spring. She plans on furthering her education with a Master’s or a Doctorate. She has been very interested in computers her whole life and Ferris State University has given her a great opportunity to pursue her passion.</div>
                </div>
            </div>
        </div>
     </div>

    <!--Second Row-->
    <div class="row" style="margin-bottom:100px">
        <!-- First Member's Profile -->
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/Images/Abigail.png" style="max-height:400px; max-width:280px">
                <div class="caption text-center">
                    <h4>Abigail Herrera</h4>
                    <h4>Role: Scrum Member</h4>
                    <div class="btn btn-danger" data-toggle="collapse" data-target="#Abigail">Learn More</div>
                    <div id="Abigail" class="collapse">Abigail Herrera is from a small town called Newaygo, Michigan. She is currently a senior at Ferris State University with a Dual Major in Accounting and Computer Information Systems. She is bi-lingual in English and Spanish. After graduation, she hopes to find employment where she will be able to apply her knowledge and experience in accounting and computer information systems.</div>
                </div>
            </div>
        </div>

        <!-- Second Member's Profile -->
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/Images/Russ.png"  style="max-height:450px; max-width:300px">
                <div class="caption text-center">
                    <h4>Russ McGinely</h4>
                    <h4>Role: Scrum Member</h4>
                    <div class="btn btn-danger" data-toggle="collapse" data-target="#Russ">Learn More</div>
                    <div id="Russ" class="collapse">Russ McGinley is a returning student, working on a Bachelor’s degree in Information System at Ferris State University. Russ lives in northern Michigan, where he hopes to use his degree to advance his career in Information Systems as a Systems Administrator.</div>
                </div>
            </div>
        </div>

        <!-- Third Member's Profile -->
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/Images/Blake.png" style="min-height:300px; min-width:175px">
                <div class="caption text-center">
                    <h4>Blake Budreau</h4>
                    <h4>Role: Scrum Member</h4>
                    <div class="btn btn-danger" data-toggle="collapse" data-target="#Blake">Learn More</div>
                    <div id="Blake" class="collapse">Blake is a senior at Ferris State University. His major is Computer Information Systems with a minor in Computer Information Technology. He was born and raised in Ludington, MI and came to Big Rapids, to attend FSU, right after graduating high school. After graduating from Ferris State, his goal is to move to the Grand Rapids area to pursue a career in the computer and technology industry where he can use his current knowledge and grow that knowledge to new heights.</div>
                </div>
            </div>
        </div>
    </div>

        <!--Third Row-->
    <div class="row" style="margin-bottom:100px">
        <!-- First Member's Profile -->
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/Images/Caleb.png" style="min-height:300px; min-width:175px">
                <div class="caption text-center">
                    <h4>Caleb Samborski</h4>
                    <h4>Role: Scrum Member</h4>
                    <div class="btn btn-danger" data-toggle="collapse" data-target="#Caleb">Learn More</div>
                    <div id="Caleb" class="collapse">Caleb is a graduating Senior ia a dual major in both Accountancy and Computer Information Systems. Originally from Westland, which is over on the east side of Michigan within the Metro Detroit area. Caleb is looking forward to taking the CPA examination this upcoming Summer 2017 and beginning his professional career in the field of Accounting. He is looking forward to obtaining a position where both his fields of study can be applied.</div>
                </div>
            </div>
        </div>

        <!-- Second Member's Profile -->
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/Images/Tyler.jpg" style="min-height: 300px; min-width: 175px;">
                <div class="caption text-center">
                    <h4>Tyler Ver Merris</h4>
                    <h4>Role: Scrum Member</h4>
                    <div class="btn btn-danger" data-toggle="collapse" data-target="#Tyler">Learn More</div>
                    <div id="Tyler" class="collapse">Tyler is a graduating senior in the Computer Information Systems program at Ferris State University. After he graduates he wants to pursue a career in the IT field, and eventually end up in a Systems Administrator position where he can grow his troubleshooting and technological knowledge. He is a native of Grand Rapids, MI and loves to golf in his spare time.</div>
                </div>
            </div>
        </div>

        <!-- Third Member's Profile -->
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/Images/Derek.png" alt="Thumbnail_img">
                <div class="caption text-center">
                    <h4>Derek Maguire</h4>
                    <h4>Role: Scrum Member</h4>
                    <div class="btn btn-danger" data-toggle="collapse" data-target="#Derek">Learn More</div>
                    <div id="Derek" class="collapse">Derek Maguire is a senior at Ferris State University. Derek majors in Computer Information Systems. He currently works as an IT Administrator in Grand Rapids but would like to use his degree to move into software development.</div>
                </div>
            </div>
        </div>
    </div>

    <!--Third Row-->
    <div class="row" style="margin-bottom:100px">
        <!-- First Member's Profile -->
        <div class="col-md-4" style="margin-left:390px;">
            <div class="thumbnail">
                <img src="~/Content/Images/website image.png" style="max-height:350px; min-width:200px">
                <div class="caption text-center">
                    <h4>Conor Jager</h4>
                    <h4>Role: Scrum Member</h4>
                    <div class="btn btn-danger" data-toggle="collapse" data-target="#Conor">Learn More</div>
                    <div id="Conor" class="collapse">Conor attends Ferris State University majoring in Accounting and Computer Information Systems. After graduating, he wants to persue a career as a business analyst, but would like to work other jobs in business and technology along the way. Conor is a Grand Rapids, Michigan native and also loves being active and outside.</div>
                </div>
            </div>
        </div>
    </div>

</div>

