
@{
    ViewBag.Title = "Trafficking";
}

<!-- add photo with effect -->

<div class="container text-center" style="margin-bottom:3%;">
    <div class="row">
        <div class="col-md-12">
            <video height="343" controls poster="https://www.dhs.gov/xlibrary/videos/blue-campaign/16_04_20_bc-infographic.JPG" style="min-width: 100%;" autoplay="autoplay"><source src="https://www.dhs.gov/xlibrary/videos/blue-campaign/16_04_20_bc-infographic.mp4" /><br /><track kind="captions" label="Closed Caption" src="https://www.dhs.gov/xlibrary/videos/blue-campaign/16_04_20_bc-infographic.en.srt" srclang="en" type="text/plain" /></video>
        </div>

    </div>
</div>

    <!--orginal-->
    <div class="row">
        <div class="col-md-8">
            <h1>What is <span>Human Trafficking?</span></h1>
            <p id="p_text">
                According to the United Nations Office on Drugs and Crime, human trafficking is the recruitment, transportation, transfer, harbouring or receipt 
                of persons, by means of the threat or use of force or other forms of coercion, of abduction, of fraud, of deception, of the abuse of power or of 
                a position of vulnerability or of the giving or receiving of payments or benefits to achieve the consent of a person having control over another 
                person, for the purpose of exploitation. Exploitation shall include, at a minimum, the exploitation of the prostitution of others or other forms 
                of sexual exploitation, forced labour or services, slavery or practices similar to slavery, servitude or the removal of organs.
            </p>

            <h2 id="headers"> Why Does It Happen?</h2>
            <p id="p_text">
                Human trafficking is a worldwide issue and it is hard to pinpoint exactly why it happens. What we know is that it is for the purpose of exploitation,
                which can include prostitution, sexual exploitation, forced labor, slavery, and even the removal of organs.
            </p>

            <h2 id="headers"> Where Can It Occur?</h2>
            <p id="p_text">
                The scariest part about human trafficking is that it can happen almost anywhere and right in front of your eyes. There is virtually no country 
                that is free from human trafficking. Typically, the victims are poor and vulnerable, which provides an easier target for attackers.
            </p>
        </div>

        <div class="col-md-offset-8">
            <h2 class="text-center" id="headers"> How You Can Help!</h2>
            <p id="p_text">
                The number one thing that you can do to help fight human trafficking is learn the indicators so you can help to identify a potential trafficking
                attack. By recognizing the signs when you see them, you may just be able to save a life someday. If you see any suspicious activity, you can report
                it to law enforcement by calling 911 or the 24-hour National Human Trafficking Resource Center line at 1-888-373-7888.
            </p>
        </div>
        <div class="col-md-offset-8 panel panel-warning" id="borders">
            <h3 id="headers_borders" style="text-align:center; color:antiquewhite">Most Recent Resources</h3>
            <div class="h4 panel-body">
                <p id="p_textborders"> Basic Human Trafficking facts from the United Nations Office on Drugs and Crime</p>
                <a href="https://www.unodc.org/unodc/en/human-trafficking/what-is-human-trafficking.html" class="btn btn-success bt-sm" style="margin-left:39%;margin-bottom:5%;">Source</a>
                <p id="p_textborders"> Homeland Security describing what human trafficking is</p>
                <a href="https://www.dhs.gov/blue-campaign/what-human-trafficking" class="btn btn-primary bt-sm" style="margin-left:39%;margin-bottom:5%;">Source</a>
                <p id="p_textborders"> 15 ways you can help fight human trafficking provided by the U.S. Department of State</p>
                <a href="https://www.state.gov/j/tip/id/help/" class="btn btn-danger bt-sm" style="margin-left:39%;margin-bottom:5%;">Source</a>
            </div>
        </div>

    </div>






