
@{
    ViewBag.Title = "Statistics";
}


    <img src="~/Content/Images/Stop-Human-Trafficking.jpg" style="width:100%;max-height:330px; border-radius: 22px 22px 22px 22px;" class=" img-responsive" />
<h1 class="text-center">Human Trafficking Statistics</h1>
<!-- Creates for all panels -->
<div class="row">
    <!-- Left Side of Page -->
    <div class="col-md-4">

        <!-- Quick Facts section, created as a panel -->

            <div class="panel-body" id="borders">
                <h2 id="headers_borders">Links For Statistics</h2>
                <ul>
                    <li><A HREF="http://arkofhopeforchildren.org/child-trafficking/child-trafficking-statistics">Ark Of Hope Org</A></li>
                    <li><A href="https://polarisproject.org/facts"> Polaris Project Facts</A></li>
                    <li><A href="https://humantraffickinghotline.org/states">Hotline Statistics</A></li>
                    <li><A href="http://www.youthfortomorrow.org/Girls-On-A-Journey-Program">Youth For Tomorrow </A></li>
         
                </ul>
            </div>

        <!-- Top Ten States Section -->
        <!-- Seperate Panel to Quick Facts -->
  
        <div class="panel-body text-center" id="borders">
            <h2 id="headers_borders">Top 10 States with Most Reported Cases</h2>
            <ol>
                <li> California - 1323 cases</li>
                <li> Texas - 670 cases</li>
                <li> Florida - 550 cases</li>
                <li> Ohio - 375 cases</li>
                <li> New York - 327 cases</li>
                <li> Georgia - 256 cases</li>
                <li> Michigan - 246 cases</li>
                <li> Illinois - 198 cases</li>
                <li> New Jersey - 193 cases</li>
                <li> North Carolina - 181 cases</li>
            </ol>
        </div>
    </div>

    <!-- Center of Page-->
    <!-- Everything is on one panel -->
    <div class=" col-md-5">

        <!-- Panel Body -->
        <div class="panel-body" id="borders">
            <h2 id="headers_borders">Who is effected the most?</h2>
            <hr />
            <!-- Gender Progress Bar -->
                <h3>Gender</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:85%"> 
                            85% Female
                        </div>
                        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:15%">
                            15% Male
                        </div>
                    </div>
            <!-- Age Progress Bar -->
                <h3>Age</h3>
                    <div class="progress" style="margin-bottom:50px">
                        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:70%">
                            70% Adults
                        </div>
                        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:30%">
                            30% Minors
                        </div>
                    </div>
            <!-- Trafficking Progress Bars -->
                <h3 style="margin-bottom:10px">Types of Trafficking Reported</h3>
                    
                    <h5>Sex Trafficking</h5>
                    <div class="progress text-center">
                        <div class="progress-bar-warning" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width:73%">
                            73%
                        </div>
                    </div>
                    
                    <h5>Labor Trafficking</h5>
                    <div class="progress text-center">
                        <div class="progress-bar-danger" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100" style="width:14%">
                            14%
                        </div>
                    </div>

                    <h5>Not Specified</h5>
                    <div class="progress text-center">
                        <div class="progress-bar-warning" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                            10%
                        </div>
                    </div>

                    <h5>Both Sex and Labor</h5>
                    <div class="progress text-center">
                        <div class="progress-bar-danger" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="100" style="width:3%">
                            3%
                        </div>
                    </div>
            </div>
    </div>

    <!-- Right Side of Page -->
    <!-- Created as a panel -->
    <div class="panel col-md-offset-9" id="borders">
        <div class="panel-heading text-center"><h2>Sources</h2></div>
        <div class="panel-body text-center">
            <ul>
                <li><a href="https://humantraffickinghotline.org/states">Human Trafficking Hotline</a></li>
                <li><a href="https://ucr.fbi.gov/crime-in-the-u.s/2015/crime-in-the-u.s.-2015/additional-reports/human-trafficking/table_3_human_trafficking_arrests_by_age_by_state_2015.xls"> FBI Human Trafficking Arrests, 2015</a></li>
                <li><a href="https://ucr.fbi.gov/crime-in-the-u.s/2015/crime-in-the-u.s.-2015/additional-reports/human-trafficking/copy_of_humantrafficking_2015_final.pdf">FBI Human Trafficking Data Tables</a></li>
                <li><a href="https://www.state.gov/documents/organization/258876.pdf">Trafficking In Persons Report</a></li>
            </ul>
        </div>
    </div>

</div>
