
@{
    ViewBag.Title = "Cyber Security";
}


    <div class="jumbotron" id="cyber_sec_jumbo"></div>
 

    <div class="row">
        <div class="col-md-8">  

            <p>
                <h1><strong>The dangers of the Internet</strong></h1>
                Cyber Security is a serious topic that nearly everyone deals with on a daily basis. Being safe online is of huge importance. This situation is life or death some people. Every single day children, parents and experts battle the bad guys. Consequences of not being safe online could vary from loss of reputation, financial loss all the way to bodily harm, and trafficking. The danger is real and must not be ignored. 
                
            </p>

        </div>

        <div class="col-md-4 align-center" id="borders">
            <p class="h3" style="text-align:center; padding-top:8%; padding-bottom:5%;"><strong>Top 8 Tips for Kids to Protect Themselves Online</strong></p>
            <ul class="align-left">
                <li>Keep your computer up to date.</li>
                <li>Never tell anyone where you live</li>
                <li>Never tell people where you work or go to school</li>
                <li>Don't overshare with people you don't know</li>
         
                <li>Don't agree to meet strangers online</li>
                <li>Don't accept files or send files to strangers</li>
                <li>If you feel uncomfortable; tell a trusted adult.</li>
            </ul>
    
            </div>
        
        <div class="col-md-8">
            <div class="row slideanim">
                <div class="col-sm-4">
                    <span class="glyphicon glyphicon-saved logo-table"></span>
                    <h4>Be Safe</h4>
                    <p>If in doubt, get out</p>
                </div>
                <div class="col-sm-4">
                    <span class="glyphicon glyphicon-book logo-table"></span>
                    <h4>Be Smart</h4>
                    <p>Understand the risks</p>
                </div>
                <div class="col-sm-4">
                    <span class="glyphicon glyphicon-eye-open logo-table"></span>
                    <h4>Be Vigilant</h4>
                    <p>Danger is everwhere</p>
                </div>
            </div>
            <br><br>
            <div class="row slideanim">
                <div class="col-sm-4">
                    <span class="glyphicon glyphicon-heart logo-table"></span>
                    <h4>Reach Out</h4>
                    <p>Help others understand</p>
                </div>
                <div class="col-sm-4">
                    <span class="glyphicon glyphicon-headphones logo-table"></span>
                    <h4>Be Heard</h4>
                    <p>When it doubt, speak up</p>
                </div>
                <div class="col-sm-4">
                    <span class="glyphicon glyphicon-arrow-up logo-table"></span>
                    <h4>Be Aware</h4>
                    <p>Know the Signs</p>
                </div>
            </div>
        </div>
            <div class="col-md-4 align-center" style="float: right" id="borders">

            <!-- Add another article link-->
            <p class="h3" style="text-align:center;padding-top:8%;padding-bottom:5%;"><strong>Top Tips to Keeping Your Child Safe Online.</strong></p>
            <ul class="align-left">
                <li>Talk with your child about the dangers of the internet.</li>
                <li>Keep an eye on your child while they are using the internet</li>
                <li>If you suspect inappropriate activity sit your child down and remind them about the dangers of cyber security</li>
                <li>Monitor your childs chats and make sure they are having appropriate conversations with others their age</li>
                
                
            </ul>
   
            <br /><br />
        </div>
    </div>

    <!-- added in row for the glyphicon table-->
    