body {
    height:100%;
	display: block;
	min-height: 100%;
	padding-bottom: 0;
	padding-top: 0;
	margin-bottom: 0;
	width: 100%;
	max-width: 100% !important;
	margin: auto;
	background-color: #ecf0f5;
}
html{
    height:100%;
    min-height:100%;
}
/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

/* exit button CSS */

#get-away {
	position: fixed;
	bottom: 10px;
	right: 10px;
	height: 100px;
	width: 150px;
	background-color: indianred;
	color: black;
	font-size: 25px;
	border: 0;
	border-radius: 5px;
}

/* footer Css */

footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    display: block;
    width: 100%;
    min-height: 180px; /* Height of the footer */
    padding-top: 10px;
    background-color: #282d32;
    margin-bottom: -10px;
}

.body-content {
	min-height: calc(100vh - 288px);
	padding-top: 160px !important;
}

/* Search bar CSS */

.searchAreasm {
	padding-left:5px;
	padding-bottom:5px;
	padding-right:5px;
}

/*@media (min-width: 1200px) {
	.container {
		padding-top: 6px;
	}
}*/

/* white space css */
.whitespace {
	background-color: #ecf0f5;
	height: 90px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 20;
}

/* contributer? */

.Contributer {
	text-align: left;
}

  
/*cyber security glyphicon table styling*/ 
 
 .logo {
   color: #f4511e;
   font-size: 200px;
   padding-left: 15%;
	   }

  .logo-table {
	  color: #f4511e;
	  font-size: 50px;
  }

 .center-block {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.input-group .icon-addon .form-control {
	border-radius: 0;
}

.icon-addon {
	position: relative;
	color: #555;
	display: block;
}

.icon-addon:after,
.icon-addon:before {
	display: table;
	content: " ";
}

.icon-addon:after {
	clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
	position: absolute;
	z-index: 2;
	left: 10px;
	font-size: 14px;
	width: 20px;
	margin-left: -2.5px;
	text-align: center;
	padding: 10px 0;
	top: 1px
}

.icon-addon.addon-lg .form-control {
	line-height: 1.33;
	height: 46px;
	font-size: 18px;
	padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
	height: 30px;
	padding: 5px 10px 5px 28px;
	font-size: 12px;
	line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
	font-size: 18px;
	margin-left: 0;
	left: 11px;
	top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
	padding-left: 30px;
	float: left;
	font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
	margin-left: 0;
	font-size: 12px;
	left: 5px;
	top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
	color: #2580db;
}


/* CSS for movement effect photos*/

figure.effect-caged figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';

}

.photo_cont{
    margin-top:10px;
box-shadow:1px 1px 4px rgba(0,0,0,0.8);
padding-top:10px;
}
figure.effect-caged h1 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: white;
	text-align:center;
	text-shadow: black 0.1em 0.1em 0.2em;
}

figure.effect-caged figcaption::before,
figure.effect-caged p {
	width: 100%;
	text-align:center;
  
}

figure.effect-caged p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	text-align:center;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
}

figure.effect-caged:hover h1 {

	text-align:center;
	font-weight:bold;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-size:40px;
}

figure.effect-caged:hover figcaption::before ,
figure.effect-caged:hover p {
	opacity: 1;

  
}

/* CSS for jumbotrons */

 #Contact_jumbo{
	box-shadow:1px 1px 4px rgba(0,0,0,0.5);
	background-size: cover;
	background-position:right top;
	background-image: url(http://kidsbizmasters.com/wp-content/uploads/2014/02/telephone.jpg); 
	position: relative;
	height: 100%;
	
   
}
.jumbotron .btn{
	border-radius:0 !important;
	box-shadow:1px 1px 4px rgba(0,0,0,0.4);
	padding:10px 40px;
}

/* carousel CSS*/

#carousel-example-generic{
   box-shadow:2px 2px 4px rgba(0,0,0,0.8);
   border-radius: 22px 22px 22px 22px;
   width:100%;
   overflow: hidden;
   min-height:375px;
  
	
}
.carousel-indicators li {
   visibility:hidden;

}
.carousel-indicators .active {
    background-color: white;

}

 #carousel_img{

   border-radius: 22px 22px 22px 22px;
   overflow: hidden;
   min-height:375px;
	width:100%;

}

#photo_cont{

border-radius: 22px 22px 22px 22px;
overflow: hidden;
box-shadow:2px 2px 4px rgba(0,0,0,0.8);

}

#carousel_btn{
	margin-top:5%;
	margin-bottom:10%;

}

/* CSS for Teen Page*/

.center {
  margin: 0 auto;
}

.carousel-caption {
  bottom: 0;
}

.teen_res {
  margin-bottom: 30px;
}

/*Cyber Security Jumbotron*/

#cyber_sec_jumbo {
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	background-size: cover;
	background-image: url();
	background-image: url('Images/CyberSecurityHome.jpg');
	position: relative;
	height: 300px;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
}

/* container CSS*/

#borders {
	border: 2px solid #333333;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #073e5f;
	color: white;
	text-shadow: #333333 0.1em 0.1em 0.2em;
}


/* Drop down nav items */



.dropdown_btn {
    background-color: #3c8dbc !important;

}


/* Nav item list */

.navbar-nav > li > a {
    height: 78px;
    padding-top: 28px;
 
}

.navbar-nav > li > a :active{ 
 background-color: rgba(0,60,128,0.82) !important;
}

.navbar-nav > li > a:hover {
	background-color: rgba(0,60,128,0.82) !important;
	 position: relative;
	 transition: all 1s;
	 color: #fff;
	 z-index: 1;
}

.navbar-header {
	margin-top: 0 !important; 
}

.navbar-brand {
	width: 170px !important;
	background-color: #3c8dbc !important;
	padding-top: 20px;  
}
.navbar-inverse .navbar-brand {
		height: 70px;
		color: #fff;
		margin-left:-20px;
	}


.navbar-collapse {
    border: none;
}

.navbar-toggle {
    margin-bottom: 28px;
}

	.navbar-inverse .navbar-nav > li > a {
		color: #fff;
	}

	.navbar-inverse .navbar-nav > li > a :after {
		color: #fff;
	}
	
	.navbar-fixed-top {
	top: 30px;
}

.navbar-inverse  {
	height: 78px !important;
	background-color: #3c8dbc;
	border-color: #3c8dbc;
	width: 100%;
	margin: auto;
	font-weight: bold;
}

.navbar-nav {
	background-color: #3c8dbc;
	border-color: #3c8dbc;
	/*border-radius: 15px;*/
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* Text congruency*/

#headers{
 font-size:32px;
 color:black;
 font-family:Arial;
 }
 
 #p_textborders{
 font-size:12px;
 color:white;
 font-family:Arial;
 }
 
 #headers_borders{
 color:white;
 text-shadow:black 0.05em 0.0em 0.05em;
 font-family:Arial;
 text-align: center;
 }
 
 #p_text{
 font-size:14px;
 font-family:Arial;
 }

 ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

ul.share-buttons img{
  width: 32px;
}

ul.leaders {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: square;
}

    ul.leaders li {
        min-height: 25px;
    }

        ul.leaders li:before {
            float: left;
            width: 0;
            white-space: nowrap;
            content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";
        }

    ul.leaders span:first-child {
        padding-right: 0.33em;
        background: #073e5f;
    }

    ul.leaders span + span {
        float: right;
        padding-left: 0.33em;
        background: #073e5f;
    }

ul.noleaders {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: square;
}

    ul.noleaders li {
        min-height: 25px;
    }

        ul.noleaders li:before {
            float: left;
            width: 0;
            white-space: nowrap;
            content:
                "                                        "
                "                                        "
                "                                        "
                "                                        ";
        }

    ul.noleaders span:first-child {
        padding-right: 0.33em;
        background: #073e5f;
    }

    ul.noleaders span + span {
        float: right;
        padding-left: 0.33em;
        background: #073e5f;
    }